.overlay {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(113, 125, 126, 0.5);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.div_one:hover .overlay {
    margin-top: 30px;
    height: 80%;
    cursor: pointer;
}

.one {
    border-radius: 200px;
    overflow: scroll;
}

body {
    background-image: url('../img/LOL.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-align: center;
    font-size: 30px;
}
nav ul li {
	float: left;
	list-style: none;
}
nav ul li a {
	display: block;
    background: #353535;
    color: #fff;
    text-decoration: none;
    padding: 21px;
    font-weight: bold;
}

nav {
	display: inline-block;
    float: right;
    margin-right: 20px;
    margin-top: -10px;
}

nav ul li:first-child a {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

nav ul li:last-child a {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.div_one {
    float: left;
    width: 250px;
    height: 250px;
    max-height: 250px;
    margin: 35px;
    padding-left: 10px;
    position: relative;
    margin-top: -5px;
    cursor: pointer;
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 23px;
    text-align: center;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;
}

#extra {
    margin-top: 500px;
    position: absolute;
    width: 90%;
    text-align: center;
    font-size: 50px;
    font-family: 'DM Sans', sans-serif;
}

footer {
    margin-top: 500px;
    color: white;
    margin-left: 20px;
    font-family: 'Oxygen', sans-serif;
    font-size: 15px;
    text-align: center;
}

h1 {
    margin-block-start: -40px;
    margin-block-end: 10px;
    text-align: center;

}

a:link {
    color: white;
}

a:visited {
    color: aqua;
}

a:active {
    color: yellow;
}