   .div_one {
       float: left;
       width: 250px;
       height: 250px;
       max-height: 250px;
       margin: 38px;
       padding-left: 3px;
       position: relative;
       margin-top: 250px;
       cursor: pointer;
       margin-left: 60px;
   }

   nav ul li {
       float: left;
       list-style: none;
   }

   nav ul li a {
       display: block;
       background: #020202;
       color: rgb(255, 255, 255);
       font-family: 'Nunito', sans-serif;
       text-decoration: none;
       padding: 21px;
       font-size: 20px;
       font-weight: bold;
   }

   nav {
       display: inline-block;
       float: left;
       position: absolute;
       margin-right: 20px;
       margin-top: 10px;
   }

   nav ul li:first-child a {
       border-top-left-radius: 15px;
       border-bottom-left-radius: 15px;
   }

   nav ul li:last-child a {
       border-top-right-radius: 15px;
       border-bottom-right-radius: 15px;
   }

   .oneimg {
       border-radius: 200px;
       overflow: scroll;
       box-shadow: 0 0 8px 2px #01070a;
   }

   .text {
       margin-top: 40px;
       font-size: 30px;
       text-align: center;
       font-family: 'Sniglet', cursive;
       color: white;
   }

   .oneimg {
       background-color: transparent;
       transition: transform .2s;
       /* Animation */
       margin: 0 auto;
   }

   .oneimg:hover {
       transform: scale(1.2);
       /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
   }

   .description {
       display: block;
       width: 1000px;
       min-height: 360px;
       background: rgb(39, 38, 38, 0.95);
       padding: 50px 30px 0 27px;
       margin: 15px;
       float: left;
       margin-top: 180px;
       border-radius: 20px;
       box-shadow: 0 0 8px 4px #01070a;
       background-repeat: no-repeat;
       background-size: cover;
       margin-left: 150px;
       text-align: center;
   }

   p {
       color: white;
       text-align: center;
       margin: 30px;
       font-size: 15px;
   }

   #link {
       margin-top: 250px;
       font-size: 15px;
   }

   .sub {
       float: left;
       width: 250px;
       height: 600px;
       margin: 10px;
       text-align: justify;
       font-family: 'Didact Gothic', sans-serif;
       color: white;
       margin-left: 30px;
       font-size: 20px;
   }

   #two {
       background-color: rgba(0, 3, 7, 0.8);
       margin-left: 45px;
       width: 1200px;
       height: 400px;
       position: relative;
       margin-top: 300px;
   }

   a:link {
       color: white;
   }

   a:visited {
       color: aqua;
   }

   a:active {
       color: yellow;
   }

   h1 {
       padding: 10px;
       font-family: 'Varela Round', sans-serif;
       font-size: 50px;
       margin-left: 20px;
       text-align: center;
   }

   footer {
       align-content: center;
       margin-top: 1400px;
       font-family: 'Oxygen', sans-serif;
       font-size: 15px;
       position: absolute;
       text-align: center;
       margin-left: 450px;
   }

   body {
       background-color: black;
       background-image: url(../img/galle1.png);
       background-size: cover;
       background-repeat: no-repeat;
       background-attachment: fixed;
   }

   #des {
       font-size: 20px;
       color: white;
       text-align: justify;
       font-family: 'Quicksand', sans-serif;
   }

   h1 {
       color: white;
       margin-block-start: 1px;
       margin-block-end: 1px;
   }